<% content_for :page_title do %>
  <%= I18n.t(:'spree.editing_resource', resource: Spree::OptionType.model_name.human) %> <span class="green">"<%= @option_type.name %>"</span>
<% end %>

<% content_for :page_actions do %>
  <%= link_to I18n.t(:'spree.back_to_resource_list', resource: Spree::OptionType.model_name.human), spree.admin_option_types_path, class: 'btn btn-primary' %>
<% end %>

<%= render 'form' %>
